<p style="color: green"><%= notice %></p>

<h1>BOX</h1>

<div id="schedules">
  <% @schedules.each do |schedule| %>
    <%= render schedule %>
    <p>
      <%= link_to "Seus agendamentos:", schedule %>
    </p>
  <% end %>
</div>

<%= link_to "Novo agendamento", new_schedule_path %>

